* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color:rgb(226, 232, 240)

}

/* width */
.container .sidebar-left::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #0F172A;
}

header {
    background-color: #111827;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
    padding-left: 50px;
    display: none;

}

header .search-chat {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

header .search-chat .user-account {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid rgb(71,85,105);
}

header .search-chat .user-account img{ 
    width: 30%;
    border-radius: 50%;
}

header .mobile-burger {
    display: none;
}


.container .sidebar-left .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}
.container .sidebar-left .logo h3{ 
    margin-left: 10px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .sidebar-left {
    height: 100vh;
    width: 18%;
    background-color: #111827;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    padding: 15px;
    z-index: 9999;
}

.container .sidebar-left h4{
    color: rgb(100,116,139);
    font-size: 14px;
}

.container .sidebar-left .lists .list {  
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 7px;
    transition: 0.3s;
}

.container .sidebar-left .lists .list:hover{ 
    background-color: #040710ce;
    transition: 0.3s;
}
.container .sidebar-left .lists .list i {
    font-size: 21px;
    width: 35px;
}

.container .sidebar-left .lists ul{
    list-style: none;
}


.container .main {
    width: 82%;
    background-color: #040813;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .main .interface {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container .main .small-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #111827;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    padding: 12px 0;
}

.container .main .small-header .search-chat{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
}

.container .main .small-header .search-chat .fad{
    width: 35px;
    height: 35px;
    background-color:rgb(71,85,105);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    margin: 0 10px;
}

.container .main .small-header .search-chat .fas{
    transform: translateY(-4px);
}

.container .main .small-header .search-chat .user-account {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border-left: 1px solid rgb(71,85,105);
    position: relative;
}

.container .main .small-header .search-chat .user-account .fas{
    padding: 10px;
    cursor: pointer;
}

.container .main .small-header .search-chat .user-account #account-info {
    position: absolute;
    left: -25px;
    bottom: -155px;
    width: 100%;
    background-color: rgb(30,41,59);
    padding-bottom: 10px;
    display: none;
}

.container .main .small-header .search-chat .user-account #account-info h3{
    padding: 15px 
}
.container .main .small-header .search-chat .user-account #account-info h5 {
    padding: 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71,85,105);
    margin-bottom: 5px;
    color: rgb(100,116,139);
}

.container .main .small-header .search-chat .user-account #account-info a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}


.container .main .small-header .search-chat .fa-bell {
    margin-right: 25px;
}

.container .main .small-header .search-chat .user-account img{ 
    width: 25%;
    border-radius: 50%;
}

.container .main .interface .content-center .introduction {
    background-color: #111827;
    border-radius: 6px;

}

.container .main .interface .content-center .introduction .image{ 
    background: url(https://image.freepik.com/free-vector/flat-abstract-wireframe-background_23-2148995803.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 6px;

   
    overflow-y: hidden;
}

.container .main .interface .content-center .introduction .image img{ 
    width: 60%;
}

.container .main .interface .content-center .introduction h2 {
    padding: 20px;
    font-size: 24px;
    padding-bottom: 10px;
}


.container .main .interface .content-center .introduction h5 {
    padding: 0 20px;
    font-weight: 100;
    font-size: 14px;
    color: rgb(71,85,105);
}

.container .main .interface .content-center .introduction button {
    margin: 10px 20px;
    margin-top: 20px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: rgb(100,116,139);
}
.container .main .interface .content-center .progress {
    background-color: #111827;
    border-radius: 6px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

}

.container .main .interface .content-center .progress .progress-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container .main .interface .content-center .progress .progress-info h5 {
    font-weight: 100;
    color: rgb(100,116,139);
    font-size: 14px;
}
.container .main .interface .content-center .progress .progress-info h5 i {
    font-size: 11px;
    color: rgb(100,116,139);
}
.container .main .interface .content-center .progress .progress-data .data {
    margin: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .main .interface .content-center .progress .progress-data .data div {
    width: 90%;
    height: 8px;
    background-color: rgb(71,85,105);
    display: inline-block;
    border-radius: 10px;
    position: relative;
}


.container .main .interface .content-center .progress .progress-data .data div::before {
    content: '';
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    background-color: salmon;
    border-radius: 10px;
   
}

.container .main .interface .content-center .progress .progress-data .design div::before {
    content: '';
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    background-color: rgb(38, 201, 5);
    border-radius: 10px;
   
}

.container .main .interface .content-center .progress .progress-data .python div::before {
    content: '';
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    background-color: rgb(17, 96, 214);
    border-radius: 10px;
  
}

.container .main .interface .content-center .progress .progress-data .js div::before {
    content: '';
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 32%;
    background-color: rgb(218, 65, 48);
    border-radius: 10px;
   
}


.container .main .interface .content-center .progress .progress-data .ios div::before {
    content: '';
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 73%;
    background-color: rgb(182, 22, 182);
    border-radius: 10px;
   
}

.container .main .interface .content-center .progress .progress-data-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container .main .interface .content-center .progress .progress-data-view span{
    font-size: 12px;
}

.container .main .interface .content-center .progress .progress-data-view span i {
    font-size: 8px;
    transform: translateY(-2px);
    margin-right: 3px;
}

.container .main .interface .content-center .progress .progress-data-view .design {
    color: rgb(38, 201, 5);
}

.container .main .interface .content-center .progress .progress-data-view .python {
    color: rgb(17, 96, 214);
}
.container .main .interface .content-center .progress .progress-data-view .js {
    color: rgb(218, 65, 48);
}
.container .main .interface .content-center .progress .progress-data-view .ios {
    color: rgb(182, 22, 182);
}





.container .main .interface .content-center .employees-review {
    background-color: #111827;
    grid-column: span 2;
    margin-top: 20px;
    border-radius: 6px;
    height: auto;
    padding-bottom: 20px;
}


.container .main .interface .content-center .employees-review .review-info {
    display: flex;
    flex-direction: row;
    align-items :center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}


.container .main .interface .content-center .employees-review .review-info .add-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view {
    margin-right: 15px;
    padding: 0 20px;
    border: 1px solid rgb(100,116,139);
    padding-right: 0;
    border-radius: 7px;
    position: relative;
    
}
.container .main .interface .content-center .employees-review .review-info .add-new .status-view span {
    font-size: 14px;
}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view i{
    padding: 10px;
    border-left: 1px solid rgb(100,116,139);
    margin-left: 15px;
    cursor: pointer;

}


.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category {
    position: absolute;
    left: -67px;
    bottom: 0;
    width: 150%;
    height:auto;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
    border: 1px solid rgb(100,116,139);
    transform: translateY(230px);
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 9;
    display: none;
}


.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category span {
    margin: 10px 5px;
}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category input{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category .apply-clear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    z-index: 999;

}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category .apply-clear button {
    padding: 5px 15px;
    border-radius: 5px;
}

.container .main .interface .content-center .employees-review .review-info .add-new .status-view .status-category .apply-clear  #btn-clear-status-category {
    background:rgb(30,41,59)
}



.container .main .interface .content-center .employees-review .review-info .add-new button {
    background-color: rgb(17, 96, 214);
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.container .main .interface .content-center .employees-review .review-info .add-new button i {
    margin-right: 5px;
}







.container .main .interface .content-center .employees-review .employees-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(30,41,59);
    /* -webkit-box-shadow: 0px -1px 5px 0px rgba(34, 60, 80, 0.6) inset;
-moz-box-shadow: 0px -1px 5px 0px rgba(34, 60, 80, 0.6) inset;
box-shadow: 0px -1px 5px 0px rgba(34, 60, 80, 0.6) inset; */
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.container .main .interface .content-center .employees-review .employees-name .row-name {
    width: 30%;
}

.container .main .interface .content-center .employees-review .employees-name .row-full-names {
    width: 39%;
}

.container .main .interface .content-center .employees-review .employees-name .row-address {
    width: 31%;
}
.container .main .interface .content-center .employees-review .employees-name .row-name h4 {
    color: rgb(100,116,139);
}



.container .main .interface .content-center .employees-review .employees-table {
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
}

.container .main .interface .content-center .employees-review .employees-table table {
    width: 100%;
    padding: 10px 20px;
    height: auto;
    border-collapse: collapse; 
}


.container .main .interface .content-center .employees-review .employees-table table tr {
    border: 1px solid rgb(71,85,105);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    
}

.container .main .interface .content-center .employees-review .employees-table table tr #employee-full-name {
    width: 25%;
}

.container .main .interface .content-center .employees-review .employees-table table tr #employee-email {
    width: 27%;
}

.container .main .interface .content-center .employees-review .employees-table table tr #employee-status {
    width: 20%;
}

.container .main .interface .content-center .employees-review .employees-table table tr .delete-row {
    width: 27%;
    font-size: 24px;
    position: relative;
}
.container .main .interface .content-center .employees-review .employees-table table tr .delete-row i{
    cursor: pointer;
}

.container .main .interface .content-center .employees-review .employees-table table tr .delete-row .edit-del {
    position: absolute;
    left: -50px;
    top: 0;
    padding: 10px 5px; 
    transform: translate(-55px, 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgb(30,41,59);
    display: none;
}
.container .main .interface .content-center .employees-review .employees-table table tr .delete-row .edit-del span {
    font-size: 14px;
    margin: 5px 8px;
    width: 75px;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(214, 40, 17);
    border-radius: 8px;
    
}

.container .main .interface .content-center .employees-review .employees-table table tr .delete-row .edit-del #row-edit {
    background-color: rgb(9, 189, 24);
}
.container .main .interface .content-center .employees-review .employees-table table tr td {
    padding: 10px;
}

.container .main .interface .content-center .employees-review .employees-table table tr td img {
    width: 100%;
    border-radius: 50%;
}


.container .main .interface .content-center .employees-review .employees-table table tr .image {
    width: 8%;
}


.container .main .interface .content-center .employees-review .employees-table table tr .delete-row {
    width: 7%;
}



.container .main .content-center {
    height: auto;
    width: 70%;
    padding-top: 20px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: minmax(170px, 250px) repeat(3, auto);
    padding-bottom: 20px;
    
}

.container .main .sidebar-right {
    height: 100vh;
    width: 30%;
    background-color: #040813;
}
